<?xml version='1.0' encoding='windows-1252'?>
<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product
        Id='*'
        Name='CrabGrab'
        UpgradeCode='724196E3-67D6-428D-B089-45B9DC3DFD0B'
        Manufacturer='FPG Schiba'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package Id='*'
            Keywords='Installer'
            Manufacturer='FPG Schiba'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252'
            />

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='CrabGrab Installation'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>

            <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='CrabGrab'>

                    <Component Id='License' Guid='*'>
                        <File Id='LicenseFile' DiskId='1' Source='LICENSE' KeyPath='yes'/>
                    </Component>

                    <Directory Id='Bin' Name='bin'>
                        <Component Id='Path' Guid='5C7547F3-A915-48D5-A611-0E639B75C309' KeyPath='yes'>
                            <Environment Id='PATH' Name='PATH' Value='[Bin]' Permanent='no' Part='last' Action='set' System='yes'/>
                        </Component>

                        <Component Id='binary0' Guid='*'>
                            <File
                                Id='exe0'
                                Name='crab-grab.exe'
                                DiskId='1'
                                Source='$(var.CargoTargetBinDir)\crab-grab.exe'
                                KeyPath='yes'>

                                <Shortcut
                                    Id="startmenuShortcut"
                                    Directory="ApplicationProgramsFolder"
                                    Name="CrabGrab"
                                    Description="Lightning fast screenshot tool"
                                    WorkingDirectory="APPLICATIONFOLDER"
                                    Icon="CrabGrab.exe"
                                    Advertise="yes"/>
                            </File>
                        </Component>
                    </Directory>
                </Directory>
            </Directory>

            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="CrabGrab"/>
            </Directory>
        </Directory>

        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="CleanupShortcut" Guid="*">
                <RegistryValue Root="HKCU" Key="Software\CrabGrab" Name="shortcut" Type="integer" Value="1" KeyPath="yes"/>
                <RemoveFolder Id="RemoveStartMenu" On="uninstall"/>
            </Component>
        </DirectoryRef>

        <Feature
            Id='Binaries'
            Title='Application'
            Description='Installs all binaries and the license.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>

            <ComponentRef Id='License'/>
            <ComponentRef Id='binary0'/>
            <ComponentRef Id='CleanupShortcut'/>

            <Feature
                Id='Environment'
                Title='PATH Environment Variable'
                Description='Add the install location to PATH.'
                Level='1'
                Absent='allow'>
                <ComponentRef Id='Path'/>
            </Feature>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        <Icon Id='CrabGrab.exe' SourceFile='wix\Product.ico'/>
        <Property Id='ARPPRODUCTICON' Value='CrabGrab.exe' />

        <UI>
            <UIRef Id='WixUI_FeatureTree'/>
            <Publish Dialog='WelcomeDlg' Control='Next' Event='NewDialog' Value='CustomizeDlg' Order='99'>1</Publish>
            <Publish Dialog='CustomizeDlg' Control='Back' Event='NewDialog' Value='WelcomeDlg' Order='99'>1</Publish>
        </UI>

    </Product>
</Wix>